[Unit]
Requires=cgalmediawiki-db.service
After=cgalmediawiki-db.service

[Container]
ContainerName=cgalmediawiki_test_mediawiki
EnvironmentFile=/etc/CGAL/cgal-mediawiki/production-test.env
Image=cgalmediawiki_mediawiki.build
PublishPort=127.0.0.1:8083:80/tcp
Volume=/etc/CGAL/cgal-mediawiki/LocalSettings-Members.php:/var/www/html/LocalSettings.php:ro,z
Volume=/etc/CGAL/cgal-mediawiki/config/cgal_wiki_httpd.conf:/etc/apache2/conf-available/short-url.conf:ro,z
Volume=/etc/CGAL/cgal-mediawiki/composer.json:/var/www/html/composer.json:z
Volume=/etc/CGAL/cgal-mediawiki/lock-mediawiki.txt:/var/www/lock-mediawiki.txt:z
Volume=cgalmediawiki_images:/var/www/html/images:z
Network=cgalmediawiki-test.network
PodmanArgs=--network-alias=mediawiki
Secret=secrets.php

[Service]
Restart=on-failure
# Extend Timeout to allow time to pull the image
TimeoutStartSec=900

[Install]
# Start by default on boot
WantedBy=multi-user.target default.target
