{$MW_SITE_FQDN}:{$HTTPS_PORT} {
  basic_auth * {
    member1 {$CADDY_BASIC_AUTH_PASS}
  }
  reverse_proxy mediawiki:80
}

{$MW_SITE_FQDN}:80 {
  redir https://{$MW_SITE_FQDN}:{$HTTPS_PORT}{uri} permanent
}
